.header{
    background-color: red;
}
.footer{
    background-color: red;

}
.fullview
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;    
}
.dashboard {
    display: flex;    
    height: auto;
}
.left_user_list {
    width: 20%;
    max-width: 100px;
    float: left;   
    border-right-style: solid;
    border-right-width: 2px;
    display: flex;
    flex-direction: column;
}

.image_box{
    max-height: 100px;
    width: 90%;
    height: 20vw;    
    padding-bottom: 8px;
}
.profile_img{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
}

.img_button {
    padding: 0; 
    border: none;
}
.user_dashboard{
    width: 80%;
    display: flex;
    flex-direction: column;
  
}

.profile_info {
    padding-left: 30px;
    height: 12%;  
}
.comment_dashboard {
    background-color: grey;
    
    height: 75%;
    margin-top: 25px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;    
    overflow-y: auto;
}

.comment_area{
    margin:30px;
}
.comment_detail{
    display: flex;
}
.comment_text{
    font-size: 20px;
    color: white;
    
}

.comment_username{
    font-size: 15px;
    flex-grow: 1;
    float: left;
}
.comment_date{
    flex-grow: 1;
    font-size: 15px;
}

.post_comment{
    display: flex;
    height: 8%;
    width: 100%;    
    padding-top: 20px;
    border-top-style: solid;
    border-top-width: 2px;
}
.msg_box{
    padding-left: 20px;
    height: 100%;
}
.msg{
    height:100%;
}
.submit_btn{
}
