.dashboard{
    display: flex;
}
.left_user_list {
    width: 100px;
    padding-right: 30px;
    float: left;   
    border-right-style: solid;
    border-right-width: 2px;
}
.user_dashboard{
    position: relative;
}

.profile_info {
    padding-left: 30px;
}
.comment_dashboard {
    
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 25px;
    border-top-style: solid;
    border-top-width: 2px;
}
.comment_detail{
    display: flex;
}
.comment_username{
    flex-grow: 1;
    float: left;
}
.comment_date{
    flex-grow: 1;
}

.post_comment{
    width: 100%;
    position: absolute; 
    bottom: 0px;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 25px;
    border-top-style: solid;
    border-top-width: 2px;
}
.msg{
    height: 60px;
    width: 300px;
}